
  @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;1,400&display=swap');

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
 */

/* css for navbar */
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 h3{
  font-size: 30px;
 position: absolute;
 top: 10px;
 left: 10px;
font-family: 'Poppins' ;
font-weight: 700;
}
 body{
  text-align: end;
  font-size: 40px;
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
 }
.me-auto{
  position: absolute;
 top: 10px;
 right: 10px;
}
.logo{
  height: 50px;
  margin-bottom: 10px;
 
}
.n{
  color: #810CA8;
  font-family: 'Poppins' ;
font-weight: 700;
font-size: 30px;
}

@media  screen and (max-width:500px){
  h3{
    font-size: 30px;
    margin-bottom: 50px;
}
.logo{
  
  margin-top: 10px;
}
.toggle{
  height: 1px;
  width: 1px;
  margin-bottom: 50px;
  margin-left: 80px;
}
.navbar-toggler-icon{
  height: 50px;
width: 50px;
margin-top: 5px;


}
}
@media  screen and (max-width:1000px){
  h3{
    font-size: 30px;
    margin-bottom: 50px;
}
.logo{
  
  margin-top: 10px;
}
.toggle{
  height: 1px;
  width: 1px;
  margin-bottom: 50px;
  margin-left: 80px;
}
.navbar-toggler-icon{
  height: 50px;
width: 50px;
margin-top: 5px;
}
}
/* css for home page */
.section{
  margin-top: 150px;
margin-right: 200px;
margin-left: 200px;
  justify-content: center;
  align-items: center;
background-color: #F3CCFF;
  text-align: center; 
  border-radius: 20px;
  font-family: 'Poppins' ;
  box-shadow: 20px 20px 20px purple;

 }
 .tagline{
  font-size: 80px;
font-weight: 600;
text-shadow: white 10px 0 10px;
 }
 .nametitle{
  font-size: 80px;
  color: white;
  font-weight: 500;
   text-shadow:purple 7px 0px 2px  ; 
 }

 .Typewriter__wrapper{
  font-size: 50px;
 color: black;
 }


img.portfolioimg{
border-radius: 200px;
align-items: center;
border: 20px solid black;
}

.about{
  background: black;
  color: azure;
  border-radius: 200px;
  padding: 15px 32px;
}



 @media  screen and (max-width:800px){
.section{
  margin-right: 20px;
margin-left: 20px;
    box-shadow: 10px 10px 10px purple;
margin-top: 50px;
   }
   .tagline{
    font-size: 50px;
  font-weight: 500;
  
   }
   .nametitle{
    font-size: 40px;
    text-shadow:purple 4px 0px 2px  ;
   }
  
   .Typewriter__wrapper{
    font-size: 25px;
   color: black;
   }
 
    
    .about{
      font-size: 25px;
      border-radius: 200px;
      padding: 10px 20px;
    }
.portfolioimg{
  height: 300px;
}
} 

  

/* css for about */
.image_piyu{
  height: 600px;
 border-radius: 30px;
 border: black solid 2px;
 
}
#abouttagline{
font-size: 90px;
text-align: center;
}
#gap{
  column-gap: 170px;
}
#abouttext{
  text-align: left;
}
#logo{
 margin-bottom: 20px;
 margin-right: 10px;
}

@media only screen and (max-width:400px){

    #abouttagline{
      font-size: 50px;
      text-align: center;
      }
      #gap{
        column-gap: 10px;
      }
      #abouttext{
        font-size: 1px;
        text-align: left;
      }
  .image_piyu{
    height: 200px;
   border-radius: 30px;
   border: black solid 2px;
  margin-right: 50px;
}
      }

/* css for skills */
.img{
  height: 200px;
}


      /* css for footer */
      .footer{
        text-align: center;
        background: white;
        color:black;
      }